<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>vue</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>

  <!--
  	     设置请求所用的字符集
	   encoding:字符类型
	   forceEncoding:无论request中CharacterEncoding是否有值，默认是所设置的字符集
  -->
  <filter>
    <filter-name>encodefilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>



  <filter-mapping>
    <filter-name>encodefilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <!--
  		  自动装配ApplicationContext的配置信息。因为它实现了ServletContextListener这个接口，
	         在web.xml配置这个监听器，启动容器时，就会默认执行它实现的方法
  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--
		激活Tomcat的defaultServlet来处理静态文件
  		要写在DispatcherServlet的前面， 让 defaultServlet先拦截请求，这样请求就不会进入Spring了
  -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/coreJs/*</url-pattern>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/img/*</url-pattern>
    <url-pattern>/plugin/*</url-pattern>
    <url-pattern>/fonts/*</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <!--
  	springmvc核心控制器，负责流程的控制
  -->
  <servlet>
    <servlet-name>springMvcServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <!--
  	springmvc控制器拦截的请求
  -->
  <servlet-mapping>
    <servlet-name>springMvcServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--  <error-page>
      <error-code>404</error-code>
      <location>404.jsp</location>
    </error-page>
    <error-page>
      <error-code>400</error-code>
      <location>404.jsp</location>
    </error-page>
    <error-page>
      <error-code>500</error-code>
      <location>404.jsp</location>
    </error-page>-->

  <!--
  	设置session超时时间
  -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>




</web-app>
